@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h2{
    color: rgba(194, 194, 194, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: "Lato", sans-serif;
}
p{
    color: rgba(153, 153, 153, 1);
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}